.square {
          display: flex;
          justify-content: center;
          align-items:center;
          background-color: #C4C4C4;
          min-height: 130px;
          gap: 48px;
          flex-direction: row;   
}
.square__item{
          background-color: blue;
          height: 100px;
          width:100px;   
}
